{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container">
        {{ include('category/_form.html.twig', {'header': 'Create New Category'}) }}
    </div>
{% endblock %}