{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
 <div class="container">
        {{ include('product/_form.html.twig', {'button_label': 'Update', 'header': 'Update Product'}) }}
    </div>
{% endblock %}